:global(.ui) {
  .comment {
    overflow: auto;
  }
}
.row {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border: none;
}
.icon {
  width: 15px;
  height: 15px;
  align-self: center;
}
.input {
  min-width: 100%;
  padding-right: 5px;
  margin-bottom: 5px;
}
