.text_container {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addPostForm {
  margin-top: 20px;
}
.rightbtnWrapper {
}
.leftbtnWrapper {
}
.relativeButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
